<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgsama.cloud.dao.PaymentDao">

    <resultMap id="BaseResultMap" type="com.xgsama.cloud.com.xgsama.cloud.entity.Payment">
        <id column="id" property="id"/>
        <result column="serial" property="serial"/>
    </resultMap>

    <insert id="create" parameterType="com.xgsama.cloud.com.xgsama.cloud.entity.Payment"
            useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial)
        values (#{serial})
    </insert>


    <select id="getPaymentById" parameterType="long" resultMap="BaseResultMap">
        select id, serial
        from payment
        where id = #{id}

    </select>
</mapper>